.jumbotron {
  background-color: gray;
}

.horizontal-scrollable > .row {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; /* horizontal scrolling 'bounce' with iOS' */
  &::-webkit-scrollbar {
    display: none;
  }
}

.horizontal-scrollable > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}

.card {
  border: 2px solid $red;
  width: 250px;
  height: 175px;
  /* background: black; */
}

#gun1 {
  background-color: blue;
}

#gun2 {
  background-color: red;
}

/* p {
  color: white;
  background-color: gray;
  opacity: 90%
} */

a:link {
  color: white;
}


.navbar {
  background-color: gray;
}

.navbar.fixed-left {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:1030
}

@media (min-width: 768px) {
    .navbar.fixed-left {
        bottom: 0;
        width: 232px;
        flex-flow: column nowrap;
        align-items:flex-start
    }

    .navbar.fixed-left .navbar-collapse {
        flex-grow: 0;
        flex-direction: column;
        width:100%
    }

    .navbar.fixed-left .navbar-collapse .navbar-nav {
        flex-direction: column;
        width:100%
    }

    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item {
        width:100%
    }

    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
        top:0
    }
}

@media (min-width: 768px) {
    .navbar.fixed-left {
        right:auto
    }

    .navbar.fixed-left .navbar-nav .nav-item .dropdown-toggle:after {
        border-top: .3em solid transparent;
        border-left: .3em solid;
        border-bottom: .3em solid transparent;
        border-right: none;
        vertical-align:baseline
    }

    .navbar.fixed-left .navbar-nav .nav-item .dropdown-menu {
        left: 100%
    }
}




img {
  max-width: 800px;
  max-height: 800px;
  width: auto;
  object-fit: contain;
  padding: 20px;
  opacity: 0.5;
  /* -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(1,0,1,0)), linear-gradient(to right, rgba(1,0,0,0), rgba(1,0,0,1));
-webkit-mask-size: 20% 100%;
-webkit-mask-repeat: no-repeat;
-webkit-mask-position: right top, left bottom; */
-webkit-mask-image: linear-gradient(to left, transparent 25%, black 75%);
mask-image: linear-gradient(to left, transparent 25%, black 75%);
}

img:hover {
  opacity: 1.0;
  -webkit-mask-image: linear-gradient(to left, transparent 0%, black 0%);
  mask-image: linear-gradient(to left, transparent 0%, black 0%);
}

/*
.navbar.position-absolute {
  position: fixed;
} */

li {
  list-style-type: none;
  font-size: 12px;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: right;
  font-size: 12px;
  -webkit-padding-start: 0;
}


.col-xs-4:nth-child(2n+1) {
            background: white;
}

.col-xs-4:nth-child(2n+2) {
            background: black;
}
