/* for lower menu */
@import url(https://fonts.googleapis.com/css?family=Raleway);


#content {
  position: relative;
  height: 650px;
  overflow-y: scroll;
  background-color: cyan;

}

.jumbotron {
  background-color: red;
  padding-left: 80px;
  margin-left: 120px;
}

body {
  background-color: blue;
  font-size: 16px;
    font-family: 'Raleway', sans-serif
}

/* Version */

#v {
  color: #d3d3d3;
}

/* for main picture description  BEING */

.img-gradient-overlay-disc { /* FF3.6+ */ /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(rgba(0,47,75,0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
  background: -o-linear-gradient(rgba(0,47,75,0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
  background: linear-gradient(rgba(0,47,75,0.5) 0%, rgba(220, 66, 37, 0.5) 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */ /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  border-radius: .3rem;
  margin-left: 15px;
  margin-right: 16px;
  margin-bottom: 20px;

}

/* for main picture description END  */


/* BEGIN image overlay description  WORKS */

.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 70%;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content {
  position: relative;
  z-index: 99;
}

.hover-1 img {
  width: 105%;
  position:absolute;
  top: 0;
  left: -3%;
  transition: all 0.3s;
}

.hover-1-content {
  position: absolute;
  bottom: 60; <~-- change location of text -->
  left: 0;
  z-index: 99;
  transition: all 0.4s;
}

.hover-1 .hover-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.hover-1-description {
  transform: translateY(0.5rem);
  transition: all 0.4s;
  opacity: 1; <!-- description text -->
  text-align: left;
}

.description {
  text-align: left;
}

.hover-1:hover .hover-1-content {
  bottom: 2rem;
}

.hover-1:hover .hover-1-description {
  opacity: 1;
  transform: none;
}

.hover-1:hover img {
  /* left: 0; */
}

.hover-1:hover .hover-overlay {
  opacity: 0;
}


/* END image overlay description  */


/* image ovelray MAIN PICTURES BEGIN (I DOESN"T APPEAR I"M USING THESE TAGS )*/

.img-gradient {
  position:relative;
  display:inline-block;
}
.img-gradient:after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background: -moz-linear-gradient(top, rgba(0,47,75,0.5) 0%, rgba(220, 66, 37, 0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(220, 66, 37, 0.5)), color-stop(100%,rgba(0,47,75,0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.img-gradient img{
  display:block;
}

.img-gradient-overlay { /* FF3.6+ */ /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(rgba(0,47,75,0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
  background: -o-linear-gradient(rgba(0,47,75,0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
  background: linear-gradient(rgba(0,47,75,0.5) 0%, rgba(220, 66, 37, 0.5) 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */ /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  border-radius: .3rem;
}

/* image overlay END */


.horizontal-scrollable > .row {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; /* horizontal scrolling 'bounce' with iOS' */
  &::-webkit-scrollbar {
    display: none;
  }
}

/*
.container {
  overflow: hidden;
} /* dunno */


.horizontal-scrollable > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}

/* not necessary

.card {
  border: 2px solid $red;
  width: 250px;
  height: 175px;
 background-color: black;
} */

/* p {
  color: white;
  background-color: gray;
  opacity: 90%
} */

/* a:link {
  color: #FFCA47;
} */

.navbar-light .navbar .nav-link.active .nav-link {
  /* background-color: red; */
  margin: auto;
  color: yellow;
}


.dropdown-item {
  color: black !important;
}

.dropdown-item.active {
  background-color: orange !important;
  color: purple !important;

}


.navbar.fixed-left {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:1030
}

@media (min-width: 768px) {
    .navbar.fixed-left {
        bottom: 0;
        width: 332px;
        flex-flow: column nowrap;
        align-items:right;
    }

    .navbar.fixed-left .navbar-collapse {
        flex-grow: 0;
        flex-direction: column;
        width:100%
    }

    .navbar.fixed-left .navbar-collapse .navbar-nav {
        flex-direction: column;
        width:100%
    }

    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item {
        width:100%
    }

    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
        top:0
    }
}

@media (min-width: 768px) {
    .navbar.fixed-left {
        right:auto
    }

    .navbar.fixed-left .navbar-nav .nav-item .dropdown-toggle:after {
        border-top: .3em solid transparent;
        border-left: .3em solid;
        border-bottom: .3em solid transparent;
        border-right: none;
        vertical-align:baseline
    }

    .navbar.fixed-left .navbar-nav .nav-item .dropdown-menu {
        left: 100%
    }
}


/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {


}
/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    #viewport {
      background-color: green;
    }


}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}



img {
  max-width: 800px;
  max-height: 800px;
  width: auto;
  object-fit: contain;
  padding: 20px;
  opacity: 1; /* Entire image  */
}

/*
  -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(1,0,1,0)), linear-gradient(to right, rgba(1,0,0,0), rgba(1,0,0,1));
-webkit-mask-size: 20% 100%;
-webkit-mask-repeat: no-repeat;
-webkit-mask-position: right top, left bottom; */

/* Below is a second attempt at gradient opacity over current image iOS */
/*
-webkit-mask-image: linear-gradient(to left, transparent 10%, black 75%);
mask-image: linear-gradient(to left, transparent 10%, black 75%);
} */


/* Removes gradient on mouseover  */
/* img:hover {
  opacity: 1.0;
  -webkit-mask-image: linear-gradient(to left, transparent 0%, black 0%);
  mask-image: linear-gradient(to left, transparent 0%, black 0%);
}
*/

html {
  scroll-behavior: smooth; /* does't work for Safari 13 and < plus a few years ago broke scrollspy */

/*
.navbar.position-absolute {
  position: fixed;
} */

li {
  list-style-type: none;
  font-size: 12px;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: right;
  font-size: 12px;
  -webkit-padding-start: 0;
}

#img-menu {
  width: 300px;
  height: 150px;
}

.col-xs-4:nth-child(2n+1) {
            background: white;
}

.col-xs-4:nth-child(2n+2) {
            background: white;
}

/* BEGIN image overlay description  */




/* END image overlay description  */


/* BEGIN lower menu overlay 
.content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 99%;
    width: 220px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}

.content:hover .content-overlay {
    opacity: 1
}

.content-image {
    width: 220px
}

.img-lower_menu {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1
}

.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase
}

.content-details p {
    color: #fff;
    font-size: 0.8em
}

.fadeIn-bottom {
    top: 80%
}
 */
