
title {
  color: black;
}

h1 {
  color: blue;
}

h2 {
  color: red;
}

p {
  color: gray;
  position: right;
}
/*
.navbar.position-absolute {
  position: fixed;
} */

li {
  list-style-type: none;
  font-size: 12px;
}

a:link {
  color: white;
}
/* ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  font-size: 12px;
  -webkit-padding-start: 0;
} */

#menu {
  background-color: blue;
}

#gun {
  background-color: cyan;
}
